# Environnement virtuel
venv/
env/
.env

# Fichiers Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE
.vscode/
.idea/

# Logs
*.log

# Fichiers système
.DS_Store
Thumbs.db 